<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       a {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 30px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
}
    </style>


</head>
<body>
 <a href="cform" style="background-color:red">add product</a> <br>
    <a href="cdisplay"style="background-color:blue">added products</a> <br>
     <a href="few"style="background-color:pink">user data**</a> <br>
     <a href="second"style="background-color:yellow;color:black">user informartion</a> <br>
  <a href="orderdetails"style="background-color:green;color:white">order details</a> <br>
<a href="ulogout"style="background-color:black;color:white">logout</a> <br>



</body>
</html>